* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--border : 1px solid #777;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Acme', sans-serif;
}

h1 {
	margin: 0.75rem;
}

main {
	margin: 0.5rem;
	border: var(--border);
	padding: 0.5rem;
	background-color: #eee;
}

p {
	margin: 1rem;
}

p a:active,
p a:visited {
    color: navy;
}

p a:hover {
	color: purple;
}

.datatable {
	width: 200px;
	margin-top: 2rem;
	border: var(--border);
}

.row {
	display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;
}

.row:last-child {
	background-color: darkgray;
}

.col {
	padding: 0.5rem;
	border: var(--border);
}