@media screen and (min-width : 500px){
    header, main, footer {
        margin: 1rem auto;
        background-color: black;
        color: white;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        padding: 20px;
    }

    .main-grid {
        grid-template-columns: 1fr 1fr;
    }
}